h2 {
	color: #FF6000;
	text-decoration: underline;
	text-align: center;
}

body {
	background-color: #fff;
	font-family: helvetica;
	color: #000;
	text-align: center;
}

ul {
	list-style: square;
	list-style-type: none;
}